@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	color:#333333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;}
	
.navFont{
	color:#ffffff;}
	
a:link {color:#ffffff; text-decoration:none;font-size:12px;font-weight:bold;font-family:"微软雅黑"，"黑体","宋体",Tahoma, Geneva, sans-serif;}
a:visited {color:#ffffff;text-decoration:none;font-size:12px;font-weight:bold;font-family:"微软雅黑"，"黑体","宋体",Tahoma, Geneva, sans-serif;}
a:active {color:#ffffff;text-decoration:none;font-size:12px;font-weight:bold;font-family:"微软雅黑"，"黑体","宋体",Tahoma, Geneva, sans-serif;}
a:hover {color:##21C5F8;text-decoration:underline;font-size:12px;font-weight:bold;font-family:"微软雅黑"，"黑体","宋体",Tahoma, Geneva, sans-serif;}	

.titleText{
	font-size:12px;
	color:#ffffff;
	font-weight:bold;}

