 @charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-image:url(../images/bg.gif);
	color:#666666;
	line-height:22px;}
	
#mainFrame{
	width:960px;
	margin:auto;
	background-color:#fff;}
	
#topBar{
	height:25px;
	width:910px;
	border-bottom:1px solid #cccccc;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:auto;
	color:#999;
	text-align:right;}
	
#logoArea{
	height:65px;
	line-height:65px;	
	width:910px;
	margin:auto;
	background-image:url(../images/logo.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-position:left;}
	
#searchArea{
	float:right;
	height:40px;
	line-height:40px;
	width:250px;
	padding-top:25px;}
	
.searchInput{
	border:0px;
	color:#666666;
	text-indent:5px;
	background-image:url(../images/searchInput.jpg);
	width:200px;
	height:25px;
	background-repeat:no-repeat;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;

	}
	
#searchButton{
	height:25px; width:25px;}
	

#navBar{
	height:54px;
	width:914px;
	background-repeat:no-repeat;
	background-image:url(../images/nav_unsel.jpg);
	margin:auto;
	margin-top:5px;
	margin-bottom:10px;
	cursor:pointer;}
	
.navBar_home{background-image:url(../images/nav_onsel.jpg);background-position:0px 54px;}
.navBar_about{background-image:url(../images/nav_onsel.jpg);background-position:-127px 54px;}
.navBar_news{background-image:url(../images/nav_onsel.jpg);background-position:-262px 54px;}
.navBar_product{background-image:url(../images/nav_onsel.jpg);background-position:-397px 54px;}
.navBar_knowLeg{background-image:url(../images/nav_onsel.jpg);background-position:-532px 54px;}
.navBar_service{background-image:url(../images/nav_onsel.jpg);background-position:-667px 54px;}
.navBar_contact{background-image:url(../images/nav_onsel.jpg);background-position:-802px 54px;}


#banner{
	height:285px;
	width:914px;
	margin:auto;}
	
#bannerLeft{
	float:left;
	width:311px;
	height:285px;}
	
#bannerRight{
	float:right;
	width:603px;
	height:285px;}
	
#newsArea{
	width:914px;
	height:300px;
	margin:auto;
	margin-top:30px;}
	
#newsBlock{
	padding-left:20px;
	padding-right:20px;
	width: 410px!important; /* IE7+FF */
	width: 400px; /* IE6 */
	height:300px;
	float:left;
}
	
#newsTitle{
	height:25px;
	width:457px;
	float:left;
	line-height:25px;}
	
.cutLine{
	border-right:1px solid #cccccc;}
	
.waterMark{
	background-image:url(../images/coner_snow.png);
	background-position: bottom right;
	background-repeat:no-repeat;}
	
.contentBlock{
	padding-top:25px;
	width:400px;
	height:250px;
	margin:auto;
	text-align:left;}
	
#productArea{
	margin-top:30px;
	width:914px;
	height:300px;
	margin:auto;
	border-top:1px solid #cccccc;}
	
.productShadow{
	background-image:url(../images/product_shadow.jpg);
	background-position:top left;
	background-repeat:no-repeat;}
	
#copyRight{
	height:50px;
	width:960px;
	margin:auto;
	border-top:1px solid #cccccc;
	line-height:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999999;
	text-align:center;
	background-color:#fff;}


/* __________________________________*/

#innerFrame{
	width:960px;
	height:1120px;
	margin:auto;
	background-color:#fff;}


#innerBanner{
	height:180px;
	width:914px;
	margin:auto;
	background-image:url(../images/inner-banner.jpg);}
	
#innerContent{
	width:914px;
	margin:auto;}
	
#leftSide{
	margin-top:20px;
	width:220px;
	float:left;}
	
#rightTitle{
	margin-top:20px;
	width:690px;
	float:left;
	font-size:18px;
	font-weight:bold;
	font-family:"宋体";
	color:#09F;}
	
#rightSide{
	margin-top:20px;
	width:690px;
	float:left;
	background-image:url(../images/product_shadow.jpg);
	background-position:left top;
	background-repeat:no-repeat;}
	
.unselProduct{
	background-image:url(../images/un_productItem.jpg);
	background-repeat:no-repeat;
	text-indent:45px;}
	
.onselProduct{
	background-image:url(../images/productItem.jpg);
	background-repeat:no-repeat;
	text-indent:45px;
	color:#09F;
	font-weight:bold;}
	
#productObj{
	margin-left:5px;
	width:220px;
	float:left;
	height:220px;
	border-bottom:1px dotted #cccccc;}
	
.newsLine{
	border-bottom:1px dotted #cccccc;}
	
	
