.news ul {
	padding: 15px 10px;
}

.news ul li {
	border-bottom: 1px #DCDCDC solid;
	padding: 5px 0 5px 15px;
	background: url(../images/sidebar-news-bg.gif) no-repeat center left;
}

.news ul li a {
	color: #5294AF;
}

.contact p {
	padding: 10px 20px;
	color: #6a7b88;
	background: #F2F2F2;
}

/* Contant
*********************************************************/

.contant {
	float: left;
	width: 650px;
}

.banner {
	position: relative;	
}

.banner-bio {
	position: absolute;
	top: 328px;
	left: 0;
	filter: Alpha(Opacity=80);
}

.banner-nav {
	position: absolute;
	top: 360px;
	left: 483px;
	padding-top: 10px;
	padding-left: 21px;
	display: block;
	height: 48px;
	width: 167px;
	background: #FFFFFF;
}

.banner-nav a {
	display: block;
	width: 34px;
	height: 10px;
	background: #EEEEEE;
	margin:0 1px;
	float: left;
}

.banner-nav a.now {
	background: #0197D6;
}

.index-about {
	float: left;
	padding: 10px 40px;
	width: 570px;
	background: #F9F9F9 url(../images/index-about-bgline.gif) no-repeat center bottom;
}

.index-about h2 {
	display: block;
	margin: 0 0 20px;
	height: 31px;
	background: url(../images/index-about-bg.jpg) no-repeat left top;
	text-indent: -9999px;
}

.index-about img {
	float: left;
	border: 1px #D4D4D4 solid;
}

.index-about p {
	float: left;
	width: 366px;
	margin: 0 0 10px 30px;
}

.index-about p em {
	color: #60B8DD;
}

.index-casses {
	float: left;
	width: 265px;/*325*/
	padding: 10px 20px 0 40px;
	background: #F9F9F9;
}

.index-casses h2 {
	display: block;
	height: 28px;
	background: url(../images/index-casses-bg.gif) no-repeat left top;
	text-indent: -9999px;
}

.index-service {
	float: left;
	width: 265px;
	padding: 10px 40px 0 20px;
	background: #F9F9F9;
	*margin: -1px;
}

.index-service h2 {
	display: block;
	height: 28px;
	background: url(../images/index-service-bg.gif) no-repeat left top;
	text-indent: -9999px;
}

.index-casses ul li, .index-service ul li {
	padding: 0 0 0 25px;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px #D3D3D3 solid;
	background: url(../images/index-bottom-li-bg.gif) no-repeat left center;
}

.index-casses ul li a, .index-service ul li a {
	color: #177992;
}

a.more {
	float: right;
	margin: 5px;
	color: #6ec400;
	font-size: 9px;
}
