.contant {
	float: left;
	width: 610px;
	margin: 151px 0 0;
	background: #F9F9F9;
	padding: 40px 0 50px 40px;
}

.contant-text {
	float: left;
	width: 590px;
	padding: 10px 10px 10px 0;
}

.contant h1 {
	text-indent: -9999px;
	background: url(../images/solutions-h1-bg.gif) no-repeat left top;
	height: 35px;
	margin: 0 0 10px;
}

.contant-nav {
	float: left;
	width: 610px;
	height: 29px;
	background: url(../images/solutions-contant-nav-bg.gif) no-repeat left bottom;
}

.contant-nav a {
	float: left;
	display: block;
	height: 28px;
	line-height: 28px;
	margin: 0 8px 0 0;
	padding: 0 8px;
	color: #5baed1;
	background: url(../images/solutions-contant-nav-a-bg.gif) repeat-x left center;
}

.top-text, .top-img {
	float: left;
}

.top-text p {
	width: 360px;
	margin: 30px 0 10px;
	padding: 15px 0;
}

.top-img {
	margin: 30px 10px 20px;
}

.bottom-text {
	float: left;
	width: 580px;
}

.bottom-text p {
	margin: 0 0 10px 0;
}

.contant p em {
	color: #60B8DD;
}

.news-nav {
	float: left;
	width: 210px;
	margin: 0 200px;
	text-align: center;
}

.news-nav a.left {
	float: left;
	display: block;
	height: 15px;
	width: 21px;
	background: url(../images/news-nav-l.gif) no-repeat center center;
}

.news-nav a.right {
	float: right;
	display: block;
	height: 15px;
	width: 21px;
	background: url(../images/news-nav-r.gif) no-repeat center center;
}

