@charset "utf-8";

body,td,th {
	font-size: 12px;
}
a:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	text-decoration: none;
	color: #000000;
}
a:hover {
	font-size: 12px;
	text-decoration: none;
	color: #FF0000;
}
a:active {
	font-size: 12px;
	text-decoration: none;
	color: #FF0000;
}
b:active {
	font-size: 14px;
	text-decoration: none;
	color: #999999;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.del2 {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.del21 {

	text-decoration: none;
}
.STYLE3 {font-size: 12px; color: #000000;}
.pagefx {font-size: 12px; color: #FF0000;}
.STYLE4 {font-size: 11px; color: #000000; text-decoration: none; }
.STYLE5 {font-size: 12px}
