.contant {
	float: left;
	width: 610px;
	margin: 151px 0 0;
	background: #F9F9F9;
	padding: 40px 0 50px 40px;
}

.contant-text {
	float: left;
	width: 590px;
	padding: 10px 10px 10px 0;
}

.contant h1 {
	text-indent: -9999px;
	background: url(../images/casses-h1-bg.gif) no-repeat left top;
	margin: 0 0 10px;
	height: 35px;
}

.cass {
	float: left;
	padding: 10px 3px 0 0;
	*margin: -1px;
	color: #60b8dd;
}

.cass h2 {
	margin: 0 0 5px 0;
}

.cass img {
	border: 2px #C4C4C4 solid;
}
