.contant {
	float: left;
	width: 610px;
	margin: 151px 0 0;
	background: #F9F9F9;
	padding: 40px 0 50px 40px;
}


.contant h1 {
	text-indent: -9999px;
	background: url(../images/contact-h1-bg.gif) no-repeat left top;
	margin: 0 0 10px;
	height: 35px;
}

em {
	color: #60b8dd;
}

.contant-img {
	float: left;
	width: 340px;
}

.contant-text {
	float: left;
	width: 230px;
	padding: 0 20px;
}

.contant-text a {
	color: #60b8dd;
}

.contant-text p{
	margin: 0 0 20px;
	line-height: 23px;
}
