/*乾智网络-深浅设计*/

/** reset **/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;}h1,h2,h3,h4,h5,h6{font-size:100%;}address,cite,dfn,em,var{font-style:normal;}code,kbd,pre,samp{font-family:courier new,courier,monospace;}small{font-size:12px;}ul,ol{list-style:none;}a{text-decoration:none;}a:hover{text-decoration:underline;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}legend{color:#000;}fieldset,img{border:0;}button,input,select,textarea{font-size:100%;}table{border-collapse:collapse;border-spacing:0;}

em {
	font-weight: bold;
}

body {
	color: #666666;
	background-color:#CCC;
}
#outBg{
	width:900px;
	margin:auto;

}

#container {
	padding: 0 25px;
	width: 850px;
	background: #FFF url(../images/container-bg.jpg) no-repeat top center;
}

#container:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Header
*********************************************************/
.topbar {
	float: right;
	height: 40px;
	line-height: 40px;
}

.topbar input{
	background:#eee;
	border: none;
	height:20px;
	color:#989898;
	padding:0 5px;
}

#searchButton{
	background:url(../images/button_search.gif) no-repeat;
	width:57px;
}

.lang, .topsarch {
	display: inline;
	color:#bde5f5;
}

.lang {
	font-weight: bold;
	color: #FFFFFF;
}

.lang a {
	color: #FFFFFF;
}

/* Sidebar
*********************************************************/

.sidebar {
	float: left;
	width: 200px;
}

.logo {
	display: block;
	height: 156px;
}

.sidebar h3 {
	padding: 0 0 0 10px;
	height: 34px;
	line-height: 34px;
	background: #5BAED1;
	color: #FFFFFF;
	font-size: 14px;
}

.nav ul {
	padding: 10px;
	background: #F3F3F3;
	font-size: 14px;
}

.nav ul li {
	padding: 0 0 0 15px;
	height: 28px;
	line-height: 28px;
	border-bottom: 1px #DCDCDC solid;
	background: url(../images/nav-li-bg.gif) no-repeat center right;
}

.nav ul li.now {
	background: url(../images/nav-li-now-bg.gif) no-repeat center right;
}

.nav ul li.now a {
	color: #60B8DD;
}

.nav ul li a {
	font-weight: bold;
	color: #666666;
}


.footer {
	float: left;
	width: 100%;
	padding: 20px 0 30px;
	background: #475566;
	text-align: center;
	color: #CCCCCC;
}
