/*飞尔视电子*深浅设计*/

body {
	margin:0;
	background: url(../images/bg.gif) top repeat-x;
	line-height: 20px;
	font-size: 12px;
	color: #666666;
	font-family:"微软雅黑";
}

ul{
	margin:0;
	padding:0;
}

li{
	margin:0;
	padding:0;
	list-style:disc inside;
	color:#F00;
	line-height:24px;
	border-bottom:#CCC 1px solid;
}

h1 {
	font-size: 14px;
	color: #867b30;
	font-weight:bold;
}

h3{
	font-size: 14px;
	color: #e5d561;
	font-weight:bold;
}

h2{
	font-size:12px;
	color:#013b56;
	font-weight:bold;
}

p{
	margin-bottom:20px;
}

hr{
	margin:12px 0 20px;
	border:0;
	height:1px;
	background-color:#CCC;
}

a{
	color:#666;
	text-decoration:none;
}

#container {
	margin:auto;
	width: 960px;
}

/************************
* HomePage
************************/

#banner{
	margin-top:1px;
	margin-bottom:2px;
}

#homeContent{
	width:100%;
}

#homeLeft{
	width:733px;
	float:left;
}

#homeRight{
	width:225px;
	float:right;
}

.tableTitle{
	background:url(../images/index_31.gif) repeat-x;
}

/************************
* navigation
************************/

#navigation{
	margin-top:70px;
	height:40px;
	width:100%;
	background:  url(../images/navi_bg.gif) no-repeat;
}

.navBar_home{background-image:url(../images/navi_sub.gif);background-position:0px;}
.navBar_about{background-image:url(../images/navi_sub.gif);background-position:-122px;}
.navBar_news{background-image:url(../images/navi_sub.gif);background-position:-241px;}
.navBar_product{background-image:url(../images/navi_sub.gif);background-position:-360px;}
.navBar_applications{background-image:url(../images/navi_sub.gif);background-position:-479px;}
.navBar_support{background-image:url(../images/navi_sub.gif);background-position:-598px;}
.navBar_download{background-image:url(../images/navi_sub.gif);background-position:-717px;}
.navBar_contact{background-image:url(../images/navi_sub.gif);background-position:-836px;}

.NaviTitle{
	background: url(../images/inner_2.gif) repeat-x;
	font-weight:bold;
	color:#0185c3;
	font-size:14px;
}

#innerLeft{
	width:225px;
	float:left;
}

#innerLeft li{
	background:url(../images/inner_4.gif) no-repeat;
	list-style:none;
	height:30px;
	line-height:30px;
	padding-left:40px;
	color:#009;
	display:block;
}

#innerRight{
	width:730px;
	float:right;
}


/************************
* content
************************/
#content{
	border-left:#CCC 1px solid;
	border-right:#CCC 1px solid;
	padding:20px;
}

#endContent{
	background:url(../images/inner_21.gif) no-repeat;
	height:12px;
}

/************************
* header
************************/

#header {
	position: relative;
	width:100%;
}

#logo{
	position:absolute;
	height:55px;
	top: -61px;
	left: 36px;
}

#search{
	position:absolute;
	width:200px;
	left: 766px;
	top: -35px;
}

.searchText{
	width:90px;
	border:none;
	background:url(../images/index_06.gif) no-repeat;
}

.searchButton{
	background:url(../images/index_08.gif) no-repeat ;
	border:none;
	height:18px;
	width:41px;
}
/************************
* footer
************************/

#footer{
	width:100%;
	float:left;
	height:50px;
	line-height:50px;
	text-align:center;
	background:#4e4e4e;
	color:#FFF;
}

#footerRight{
	float:right;
	padding:30px 50px 0;
	text-align:right;
	color:#555342;
}

a.footer:link,a.footer:visited{
	color:#555342;
	font-family: "微软雅黑";
	font-size:11px;
	text-decoration:none;
}

a.footer:hover,a.footer:active{
	color:#777777;
}


.font12 {
	color: #867b30;
}

.fontYellow {
	color: #e5d561;
}
