/*明菁服饰*深浅设计*/

body {
	margin:0;
	background: url(../images/bg.gif);
	line-height: 24px;
	font-size: 12px;
	color: #CCCCCC;
}

ul,li{
	margin:0;
	padding:0;
}

h1 {
	font-size: 14px;
	color: #867b30;
	font-weight:bold;
}

h2{
	font-size:18px;
	color:#c2b554;
	font-weight:bold;
	margin:0;
	font-family:Arial;
}

p{
	margin-bottom:20px;
}

hr{
	margin:12px 0 20px;
	border:0;
	height:1px;
	background-color:#707065;
}

#logo{
	position:absolute;
	width:276px;
	height:328px;
	background: url(../images/bg_leftTop.jpg) left top no-repeat;
}
	

#container {
	margin:auto;
	width: 1020px;
}

/************************
* HomePage
************************/

#banner{
	height:530px;
	min-width:1000px;
	background:url(../images/bg_home.jpg) center no-repeat;
}

#bannerRight{
	margin:auto;
	padding-left:700px;
	padding-top:50px;
	width:280px;
}

#homeHot{
	width:250px;
	padding:15px;
	background:#050201;
}



#homeMenu{
	height:33px;
	line-height:33px;
	background: #68654f;
	padding-right:50px;
}

#homeMenu ul{
	float:right;
	width:500px;
}

#homeMenu li{
	display: inline;
	list-style:none;
	float:left;
	_margin-bottom: -3px; /*IE6 hack*/
}

#footerHome{
	height:100px;
	background:url(../images/footer_hotCall.gif) 35px center no-repeat;
}


.homeRightTitle{
	margin-bottom:15px;
	padding-left:5px;
	color:#78786d;
	font-size:14px;
	font-family:"微软雅黑";
}

/************************
* navigation
************************/

#navigation{
	width:294px;
	float:left;
	padding-top:370px;
}

#naviLeft{
	float:right;
	height:260px;
	width:145px;
	background:url(../images/bg_navi.gif);
}

#naviLeft ul li{
	list-style:none;
	height:30px;
	background: url(../images/icon_navi.gif) no-repeat 120px center;
	border-bottom:#bcbba7 1px solid;
	padding-left:15px;
	line-height:30px;
	display:block;
}

a.naviLeft:link,a.naviLeft:visited{
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}

a.naviLeft:hover,a.naviLeft:active{
	color:#efde62;
}


/************************
* content
************************/
#content{
	margin-top:30px;
	width:610px;
	padding:45px 50px 20px;
	margin-right:16px;
	float:right;
	background: #3a3a34;

}

.imgLeft{
	float:left;
	margin:0 15px 15px 0;
}

.imgRight{
	float:right;
	margin:0 0 15px 15px;
}

.contentEnd{
	float:right;
	width:610px;
}

/************************
* header
************************/

#header {
	position: relative;
	width:475px;
	height:33px;
	line-height:33px;
	float:right;
	background: #68654f url(../images/logo_menu.gif) 15px center no-repeat;
	margin-top:34px;
	padding-left:250px;
}

#header ul li{
	display: inline;
	list-style:none;
	float:left;
	_margin-bottom: -3px; /*IE6 hack*/
}


/************************
* footer
************************/

#footer{
	width:1020px;
	height:100px;
	float:left;
	background:url(../images/footer_hotCall.gif) 35px center no-repeat;
}

#footerRight{
	float:right;
	padding:30px 50px 0;
	text-align:right;
	color:#555342;
}

a.footer:link,a.footer:visited{
	color:#555342;
	font-family: "微软雅黑";
	font-size:11px;
	text-decoration:none;
}

a.footer:hover,a.footer:active{
	color:#777777;
}

.brandCaufil{
	height:30px;
	padding-top:5px;
	background:url(../images/list_caufil.gif) right no-repeat;
}

.brandJarfect{
	height:30px;
	padding-top:5px;
	background:url(../images/list_jarfect.gif) right no-repeat;
}

.font12 {
	color: #867b30;
}


/************************
* Prducts
************************/

.prducts{
	width:150px;
	height:200px;
	float:left;
	margin:1px;
}

#naviSelect{
	background:url(../images/bg_select.gif) no-repeat;
	margin:15px 12px 0;
	padding-top:20px;
}

#naviSelect select{
	width:100%;
	margin-bottom:10px;
	color:#737265;
	background:#ececea;
	border:#737265 solid 1px;
}

.prductMouseOn{
	line-height:20px;
	height:40px;
	margin-top:150px;
	padding:5px 10px;
	background: #000 url(../images/bg_buy.gif) no-repeat 105px 30px;
	filter: Alpha(Opacity=80);
	opacity:0.8; /* 在firefox上可以直接解析 */
}
