.banner {
	position: relative;	
	float: left;
	width: 940px;
}

.banner img {
	border: 5px solid #DCDCDC;
}

.banner ul {
	position: absolute;
	top: 15px;
	left: 15px;
}

.banner ul li {
	float: left;
}

.banner ul li a {
	float: left;
	margin: 0 3px 0 0;
	display: block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	background: #7F1010;
}

.banner ul li a:hover, .banner ul li a.now {
	color: #000000;
	background: #FFFFFF;
}

.mid {
	float: left;
	width: 940px;
	margin: 15px 0;
}

.mid img {
	float: left;
	margin: 0 20px 0 0;
	*display: inline;
}

.mid img.right {
	margin: 0;
	*display: inline;
}
